/* 脚部 */
.footer {
    height: 420px;
    background-color: #f5f5f5;
}
.footer_top {
    padding:30px 0px;
    border-bottom:1px solid #ccc;
}
.footer_top ul li {
    float:left;
    width: 280px;
    /* background: pink; */
    padding-left:20px;
    font-size:12px;
}
.footer_top ul li h1 {
    float:left;
    width:50px;
    height: 50px;
    margin-right:10px;
    background: url(../images/icons.png) no-repeat -252px -3px;
}
.footer_top ul li h2 {
    font-size:14px;
}
.footer_mid {
    padding:30px 0px;
    margin-left:50px;
    border-bottom:1px solid #ccc;
}
.footer_mid dl {
    width: 200px;
    float:left;
}
.footer_mid dl dt {
    font-size:16px;
    margin-bottom:10px;
}
.footer_mid dl:last-of-type {
    width:90px;
    text-align: center;
}
.footer_mid dl dd {
    font-size:12px;
}
.footer_bottom {
    text-align: center;
    font-size:12px;
}
.footer_bottom a {
    font-size:12px;
}
.footer_bottom div {
    padding:20px 0px;
}
.footer_bottom p {
    line-height: 20px;
}