/* 主体02 */
.sec02 {
    height: 100%;
}
/* sec02 list01 */
.sec02 .sec02_list {
    margin-bottom:100px;
}
.sec02 .sec02_list .sec02_list01 {
    margin-bottom:40px;
}
.sec02 .sec02_list .sec02_list01>li {
    width: 273px;
    height: 156px;
    /* background-color: pink; */
    float:left;
    margin:0px 7px;
    position:relative;
    box-shadow: 2px 2px 4px #0e0a0a;
}
.sec02 .sec02_list .sec02_list01 li img {
    width: 273px;
    transition:all 0.3s;
}
.sec02 .sec02_list .sec02_list01 li:hover img {
    cursor:pointer;
    transform: scale(1.1);
}
/* 列表打折部分 */
.sec02 .sec02_list .sec02_list01 li .sec02_dis {
    width: 273px;
    height: 25px;
    /* background: skyblue; */
}
.sec02 .sec02_list .sec02_list01 li .sec02_dis .sec02_dis_left {
    width: 70px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    float: left;
    background-color: #a1cd44;
}
.sec02 .sec02_list .sec02_list01 li .sec02_dis .sec02_dis_right del {
    color:#848e94;
}
.sec02 .sec02_list .sec02_list01 li .sec02_dis .sec02_dis_right span {
    color:white;
}
.sec02 .sec02_list .sec02_list01 li .sec02_dis .sec02_dis_right {
    float:left;
    width: 203px;
    height: 100%;
    font-size:14px;
    line-height: 25px;
    /* background-color: #344654; */
}
/* 二级 */
.sec02_two {
    width: 300px;
    height: 260px;
    background: linear-gradient(to bottom,#e3eaef,#c7d5e0);
    position:absolute;
    right:-305px;
    top:0px;
    display: none;
    z-index:5;
}
.sec02_two .triangle {
    width: 5px;
    height: 5px;
    /* border-left:10px solid #dfe7ed; */
    border:8px solid transparent;
    border-right:8px solid #dfe7ed ;
    position:relative;
    left:-15px;
    top:40px;

}
/* 悬浮出现 */
.sec02 .sec02_list .sec02_list01 li:hover .sec02_two {
    display: block;
}

/* 列表02最后一个悬浮样式 */
.sec02_two_after {
    width: 300px;
    height: 260px;
    background: linear-gradient(to bottom,#e3eaef,#c7d5e0);
    position:absolute;
    right:280px;
    top:0px;
    display: none;
    z-index:5;
}
.triangle_after {
    width: 5px;
    height: 5px;
    border:8px solid transparent;
    border-left:8px solid #dfe7ed ;
    position:relative;
    left:299px;
    top:40px;
}
/* sec02 list02 */
.sec02_list02 {
    margin-bottom:40px;
}
.sec02_list02 li {
    width: 368px;
    height: 210px;
    /* background-color: pink; */
    float:left;
    margin:0px 7px;
    box-shadow: 2px 2px 4px #0e0a0a;
    position:relative;
}
.sec02_list02 img {
    width: 368px;
}
.sec02_list02 .sec02_img02 {
    overflow: hidden;
}
.sec02 .sec02_list .sec02_list02 .sec02_dis {
    width: 368px;
    height: 25px;
    /* background: skyblue; */
    /* position:absolute; */
    /* bottom:5px; */
}
.sec02 .sec02_list .sec02_list02 li .sec02_dis .sec02_dis_left {
    width: 70px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    float: left;
    background-color: #a1cd44;
}
.sec02 .sec02_list .sec02_list02 li .sec02_dis .sec02_dis_right del {
    color:#848e94;
}
.sec02 .sec02_list .sec02_list02 li .sec02_dis .sec02_dis_right span {
    color:white;
}
.sec02 .sec02_list .sec02_list02 li .sec02_dis .sec02_dis_right {
    float:left;
    width: 298px;
    height: 100%;
    font-size:14px;
    line-height: 25px;
    /* background-color: #344654; */
}
.sec02 .sec02_list .sec02_list02 li img {
    width: 368px;
    transition:all 0.3s;
}
.sec02 .sec02_list .sec02_list02 li:hover img {
    cursor:pointer;
    transform: scale(1.1);
}
/* list02二级 */
.sec02_two_02 {
    width: 300px;
    height: 260px;
    background: linear-gradient(to bottom,#e3eaef,#c7d5e0);
    position:absolute;
    right:-305px;
    top:0px;
    display: none;
    z-index:5;
}
.sec02_two_02 .triangle {
    width: 5px;
    height: 5px;
    /* border-left:10px solid #dfe7ed; */
    border:8px solid transparent;
    border-right:8px solid #dfe7ed ;
    position:relative;
    left:-15px;
    top:40px;

}
/* list02悬浮二级 */
.sec02 .sec02_list .sec02_list02 li:hover .sec02_two_02 {
    display: block;
}
/* list02最后悬浮 */
.sec02_two_02_after {
    width: 300px;
    height: 260px;
    background: linear-gradient(to bottom,#e3eaef,#c7d5e0);
    position:absolute;
    right:375px;
    top:0px;
    display: none;
    z-index:5;
}
.triangle_after_02 {
    width: 5px;
    height: 5px;
    border:8px solid transparent;
    border-left:8px solid #dfe7ed ;
    position:relative;
    left:299px;
    top:40px;
}

/* 二级内容 */
.sec02_two_02_text {
    padding:0px 20px 20px 20px;
    color:#30455a;
    font-size:12px;
}
.sec02_two_02_text p:first-of-type {
    font-size:16px;
}
.sec02_two_02_text p:nth-of-type(2) {
    font-size:13px;
    margin:5px 0px;
}
.sec02_two_02_text .sec02_text_box {
    width: 260px;
    height: 45px;
    padding:5px 0px;
    background-color: #6b7985;
    margin:8px 0px;
    color:#aab8c4;
}
.sec02_two_02_text .sec02_text_box p {
    padding-left:5px;
    font-size:12px;
}
.sec02_two_02_text .sec02_text_box p span {
    color:#66c0f4;
}
/* 列表 */
.sec02_two_02_text_list li {
    width: 30px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background-color: #96a3ae;
    font-size:12px;
    box-shadow:none;
    border-radius:2px;
    margin:0px 1px;
    float:left;
}
.sec02_two_02_text_list li a {
    color:#dfe6ec;
}
