/* 头部导航 */
.nav {
    border-bottom:2px solid #b1191a;
}
/* 导航分类 */
.nav_sort {
    width: 210px;
    height: 45px;
    background-color: #b1191a;
    color:white;
    text-align: center;
    line-height: 45px;
    float:left;
}
/* 导航列表 */
.nav_list {
    float:left;
}
.nav_list ul li {
    float:left;
    line-height: 45px;
    padding:0px 20px;
}
