/* 快捷栏 */
.shortcut {
    font-size:12px;
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}
/* 快捷栏左 */
.shortcut_left {
    float:left;
}
.shortcut_left a:first-of-type {
    color:#666;
}
.shortcut_left a:first-of-type:hover {
    color:#c81623;
}
.shortcut_left a:last-of-type {
    color:#c81623;
}
/* 快捷栏右 */
.shortcut_right {
    float:right;
}
.shortcut_right ul li {
    float:left;
}
.shortcut_right ul li:nth-of-type(even) {
    padding:0px 15px;
}
.shortcut_right ul li:nth-of-type(3) {
    padding-right:18px;
    background:url(../images/1.png) no-repeat right center;
}
.shortcut_right ul li:nth-of-type(9) {
    padding-right:18px;
    background:url(../images/1.png) no-repeat right center;
}
.shortcut_right ul li:nth-of-type(11) {
    padding-right:18px;
    background:url(../images/1.png) no-repeat right center;
}
.shortcut_right ul li:nth-of-type(13) {
    padding-right:18px;
    background:url(../images/1.png) no-repeat right center;
}