.header_banner_bg {
  background: url(../imgs/hpb-mobile-pro-x-2-lightspeed-gaming-headset-new.png) no-repeat top center;
  background-size: cover;
  height: 520px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .h_left {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 0.55rem;
}
.header .h_left .h_left_menu {
  width: 0.55rem;
  height: 0.55rem;
  background: url(../imgs/菜单.png) no-repeat center;
  background-size: contain;
}
.header .h_middle_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.header .h_middle_icon .h_m_icon_top {
  width: 0.8rem;
  height: 0.8rem;
  background: url(../imgs/未标题-1.png) no-repeat center;
  background-size: contain;
}
.header .h_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1.2rem;
  height: 0.35rem;
}
.header .h_right .h_r_car {
  width: 0.35rem;
  height: 0.35rem;
  background: url(../imgs/购物车.png) no-repeat center;
  background-size: contain;
}
.header .h_right .h_r_search {
  width: 0.28rem;
  height: 0.28rem;
  background: url(../imgs/搜索小.png) no-repeat center;
  background-size: contain;
}
.banner {
  font-size: 0;
  display: flex;
  flex-direction: column;
  height: 4.5rem;
  justify-content: flex-end;
}
.banner .banner_text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .banner_text p {
  font-size: 26px;
}
.banner .banner_text p:last-of-type {
  color: #dfdfdf;
  font-size: 16px;
}
.banner .banner_button {
  display: flex;
  justify-content: center;
  margin: 0.2rem 0;
}
.banner .banner_button .b_button:hover {
  border: 0.02rem solid #00b8fc;
  background-color: transparent;
  cursor: pointer;
}
.banner .banner_button .b_button:hover p {
  color: #00b8fc;
}
.banner .banner_button .b_button {
  width: 2.2rem;
  background-color: #00b8fc;
  border-radius: 0.06rem;
  padding: 0.05rem 0.05rem;
  border: 0.02rem solid transparent;
  transition: all 0.3s;
}
.banner .banner_button .b_button p {
  font-size: 0.12rem;
  text-align: center;
  line-height: 0.26rem;
  color: #000;
  font-weight: 600;
}
.banner_02 {
  display: flex;
  width: 90%;
  height: 5.6rem;
  margin: 0.4rem auto;
  background: url(../imgs/g502x-hpb-tablet-1152.png) no-repeat top center;
  background-size: contain;
}
.banner_03 {
  display: flex;
  width: 90%;
  font-size: 0;
  margin: 0 auto;
}
.banner_03 .banner_text {
  color: white;
}
.banner_03 .banner_text h3 {
  font-size: 24px;
  font-weight: 400;
}
.banner_03 .banner_text p {
  font-size: 13px;
  color: #d6d3d6;
  line-height: 0.4rem;
}
.banner_03 .banner_text .hover_a {
  font-size: 20px;
  margin: 0.15rem 0;
}
.banner_03 .banner_text .hover_a a:hover {
  text-decoration: underline;
}
.banner_03 .banner_text .hover_a a:hover .a_sj {
  transform: translateX(0.05rem);
}
.banner_03 .banner_text .hover_a a {
  color: #00b8fc;
}
.banner_03 .banner_text .hover_a a .a_sj {
  margin-left: 0.05rem;
  display: inline-block;
  border: 10px solid transparent;
  border-left: 15px solid #00b8fc;
  transition: all 0.3s;
}
.banner_04 {
  display: flex;
  width: 90%;
  height: 5.6rem;
  margin: 0.4rem auto;
  background: url(../imgs/feature-tile-pro-x-wireless.png) no-repeat top center;
  background-size: contain;
}
.banner_06 {
  display: flex;
  width: 90%;
  height: 5.6rem;
  margin: 0.4rem auto;
  background: url(../imgs/aurora-collection-hpb-banner-tablet-1152.png) no-repeat top center;
  background-size: contain;
}
.section {
  height: 9rem;
  background: #f4f4f4;
}
.section .section_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.section .section_text h3 {
  font-size: 28px;
  font-weight: normal;
  color: #262626;
}
.section .section_text p {
  font-size: 16px;
  text-align: center;
  color: #8a8b8a;
  margin: 0.1rem auto;
  font-weight: lighter;
}
.section_02 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 560px;
  background: url(../imgs/feature-7-banner-desktop.png) no-repeat top center;
}
.section_02 .section_02_text {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_02 .section_02_text h3 {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
}
.section_02 .section_02_text p {
  text-align: center;
  color: #eceeee;
  line-height: 0.3rem;
}
.section_02 .section_02_text .s_02_text_btn {
  margin-top: 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section_02 .section_02_text .s_02_text_btn div:hover {
  cursor: pointer;
  border: 0.02rem solid #00b8fc;
  background: transparent;
  color: #00b8fc;
}
.section_02 .section_02_text .s_02_text_btn div {
  width: auto;
  height: 0.6rem;
  background-color: #00b8fc;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.14rem;
  font-weight: bold;
  margin-bottom: 0.15rem;
  border: 0.02rem solid transparent;
  transition: all 0.3s;
}
.section_02 .section_02_text .s_02_text_btn .s_02_text_02 {
  margin-bottom: 0;
}
.section_03 {
  background: #f4f4f4;
}
.section_03 .sec_03_img {
  display: flex;
  justify-content: center;
}
.section_03 .sec_03_img img {
  width: 100%;
}
.section_03 .sec_03_text {
  background: #fff;
  padding: 0.4rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.section_03 .sec_03_text p {
  font-size: 28px;
  text-align: left;
}
.section_03 .sec_03_text .sec_03_text_icon {
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
}
.section_03 .sec_03_text .sec_03_text_icon .sec_03_text_icon_left {
  margin-right: 0.35rem;
}
.section_03 .sec_03_text .sec_03_text_icon .sec_03_text_icon_left img {
  width: 0.6rem;
}
.section_03 .sec_03_text .sec_03_text_icon .sec_03_text_icon_right {
  color: #697172;
  font-size: 0.18rem;
}
.section_03 .sec_03_text .sec_03_online img {
  height: 24px;
}
.section_04 .sec_04_img img {
  width: 100%;
}
.section_04 .sec_04_text {
  margin: 0.5rem auto 0.55rem;
  width: 80%;
}
.section_04 .sec_04_text h4 {
  color: #d6d3d6;
  font-weight: normal;
  border-bottom: 1px dotted #d6d3d6;
  padding-bottom: 0.05rem;
}
.section_04 .sec_04_text h1 {
  color: #fff;
  margin-top: 0.35rem;
}
.section_04 .sec_04_text p {
  color: #d1d1d1;
  line-height: 0.4rem;
}
.section_04 .sec_04_text .hover_a {
  font-size: 20px;
  margin: 0.2rem 0;
}
.section_04 .sec_04_text .hover_a a:hover {
  text-decoration: underline;
}
.section_04 .sec_04_text .hover_a a:hover .a_sj {
  transform: translateX(0.05rem);
}
.section_04 .sec_04_text .hover_a a {
  color: #00b8fc;
}
.section_04 .sec_04_text .hover_a a .a_sj {
  margin-left: 0.05rem;
  display: inline-block;
  border: 10px solid transparent;
  border-left: 15px solid #00b8fc;
  transition: all 0.3s;
}
.footer_nav {
  background: #fff;
}
.footer_nav .footer_nav_01 {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px dashed #1a1a1a;
  padding: 0.2rem 0;
}
.footer_nav .footer_nav_01 ul {
  display: flex;
  flex-wrap: wrap;
}
.footer_nav .footer_nav_01 ul li {
  margin: 0 0.1rem;
}
.footer_nav .footer_nav_01 ul li a {
  color: #555957;
  font-size: 0.12rem;
  line-height: 0.5rem;
  border-bottom: 1px solid transparent;
}
.footer_nav .footer_nav_01 ul li:hover a {
  border-bottom: 1px solid #2f3132;
}
.footer_email {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.footer_email .footer_email_text {
  text-align: center;
}
.footer_email .footer_email_text input {
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 0.05rem;
}
.footer_email .footer_email_text input:first-of-type {
  background-color: #f4f4f4;
  text-indent: 1em;
  font-size: 0.16rem;
  margin-top: 0.25rem;
}
.footer_email .footer_email_text input:nth-of-type(2) {
  background-color: #262626;
  color: #fff;
  font-weight: bold;
  margin-top: 0.15rem;
}
.footer_email .footer_email_text input:nth-of-type(2):hover {
  cursor: pointer;
}
.footer_email .footer_e_s {
  width: 280px;
  display: flex;
  margin-top: 0.2rem;
}
.footer_email .footer_e_s input {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-right: 0.1rem;
}
.footer_email .footer_e_s p {
  flex: 1;
  color: #697172;
  font-weight: bold;
  font-size: 0.14rem;
  line-height: 0.3rem;
}
.footer_email .bottom {
  color: #505b53;
  font-size: 0.12rem;
  margin: 0.4rem 0;
}
