html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 2.6rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 0.46rem;
  height: 0.46rem;
  object-fit: cover;
}
.swiper-slide img:hover {
  cursor: pointer;
}
.swiper-button-next,
.swiper-button-prev {
  color: #707070;
}
body {
  background-color: #000;
}
.box {
  background: pink;
}
.header_title {
  background-color: #000;
  text-align: center;
}
.header_title img {
  height: 60px;
  margin: 0.2rem 0;
}
.header_title p {
  font-size: 0.16rem;
  color: #fff;
}
.section {
  background-color: #000;
  display: flex;
  justify-content: center;
}
.section form {
  width: 80%;
}
/* 邮箱 */
.sec_email {
  position:relative;
}
.sec_email label {
  color:#999;
  position:absolute;
  left:0;
  bottom:10px;
  pointer-events:none;
  transition:all 0.3s;
}
.sec_email input {
  transition:all 0.5s;
}
.sec_email input:focus~label,input:valid~label {
  transform: translateY(-30px);
  font-size:12px;
}
.sec_email input:focus {
  border-bottom:2px solid #00b8fc;
}
/* 密码 */
.sec_password {
  position:relative;
}
.sec_password label {
  color:#999;
  position:absolute;
  left:0;
  bottom:10px;
  pointer-events:none;
  transition:all 0.3s;
}
.sec_password input:focus~label,input:valid~label {
  transform: translateY(-30px);
  font-size:12px;
}
.sec_password input:focus {
  border-bottom:2px solid #00b8fc;
}
.sec_password input {
  transition:all 0.5s;
}
.section form input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #676767;
  font-size: 0.16rem;
  color: #fff;
  margin-top: 0.1rem;
}
.section form input::placeholder {
  color: #c3c6c8;
  font-size: 0.16rem;
}
.section form .sec_nopass {
  text-align: right;
  margin: 0.25rem 0;
}
.section form .sec_nopass a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  text-align: right;
}
.section form .sec_nopass a:hover {
  color: #00b8fc;
}
.section form .sec_title {
  font-size: 0.15rem;
  text-align: center;
  color: #f7f3f7;
}
.section form .sec_title a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
.section form .sec_title a:hover {
  color: #00b8fc;
}
.section form .sec_submit {
  margin: 0.15rem 0;
}
.section form .sec_submit input {
  border: none;
  background-color: #00b8fc;
  border-radius: 0.05rem;
  color: #000;
  font-size: 0.13rem;
  font-weight: bold;
}
.section form .sec_submit input:hover {
  cursor: pointer;
  background-color: #0090bf;
}
.section form .sec_huozhe {
  max-width: none;
  text-align: center;
  height: 1px;
  margin: 28px 0;
  background: #676767;
}
.section form .sec_huozhe span {
  color: #cdcdcd;
  position: relative;
  top: -9px;
  background-color: var(--color-secondary);
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.1rem;
}
.section form #login_img {
  position: relative;
}
.section form .sec_bottom {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section form .sec_bottom a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
  line-height: 0.4rem;
}
.section form .sec_bottom a:hover {
  color: #00b8fc;
}
