.header_banner_bg {
  height: 480px;
  background: url(../imgs/myaccount-logitechg.png) no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .h_left {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 0.55rem;
}
.header .h_left .h_left_menu {
  width: 0.55rem;
  height: 0.55rem;
  background: url(../../../imgs/菜单.png) no-repeat center;
  background-size: contain;
  position: relative;
}
.header .h_left .h_left_menu .h_menu {
  display: none;
  position: absolute;
  left: -0.23rem;
  top: -0.13rem;
}
.header .h_left .h_left_menu .h_menu ul li {
  width: 2.4rem;
  height: 0.6rem;
  background-color: #00b8fc;
  border-bottom: 1px dashed #e5f8ff;
  text-indent: 1em;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .h_left .h_left_menu .h_menu ul li a {
  color: #000;
  line-height: 0.6rem;
  font-weight: bold;
  font-size: 0.14rem;
}
.header .h_left .h_left_menu .h_menu ul li .menu_sj {
  height: 0.14rem;
  border: 0.08rem solid transparent;
  border-left: 0.1rem solid #000;
}
.header .h_left .h_left_menu .h_menu ul li:last-of-type {
  border-bottom: none;
  background-color: #697172;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.15rem;
}
.header .h_left .h_left_menu .h_menu ul li:last-of-type img {
  height: 0.25rem;
}
.header .h_left .h_left_menu .h_menu ul li:last-of-type a {
  color: #fff;
}
.header .h_left .h_left_menu .h_menu ul li:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.header .h_left .h_left_menu:hover {
  cursor: pointer;
}
.header .h_left .h_left_menu:hover .h_menu {
  display: block;
}
.header .h_middle_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.header .h_middle_icon .h_m_icon_top {
  width: 0.8rem;
  height: 0.8rem;
  background: url(../../../imgs/未标题-1.png) no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center;
}
.header .h_middle_icon .h_m_icon_top h1 {
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.6rem;
}
.header .h_middle_icon .h_m_icon_top h1 a {
  color: transparent;
}
.header .h_middle_icon .h_m_icon_top:hover {
  cursor: pointer;
}
.header .h_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1.2rem;
  height: 0.35rem;
}
.header .h_right .h_r_car {
  width: 0.35rem;
  height: 0.35rem;
  background: url(../../../imgs/购物车.png) no-repeat center;
  background-size: contain;
}
.header .h_right .h_r_search {
  width: 0.28rem;
  height: 0.28rem;
  background: url(../../../imgs/搜索小.png) no-repeat center;
  background-size: contain;
}
.banner {
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner h2 {
  font-size: 30px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.banner .banner_btn {
  width: 80%;
}
.banner .banner_btn a {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 0.05rem;
  font-weight: bold;
  font-size: 0.14rem;
  margin-top: 0.15rem;
}
.banner .banner_btn .login {
  background-color: #f4f4f4;
}
.banner .banner_btn .login:hover {
  cursor: pointer;
  color: #0090bf;
}
.banner .banner_btn .register {
  background-color: #00b8fc;
}
.banner .banner_btn .register:hover {
  cursor: pointer;
  background-color: #0090bf;
}
.section {
  background-color: #fff;
}
.section .sec_01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem 0;
}
.section .sec_01 h3 {
  font-size: 24px;
  font-weight: normal;
}
.section .sec_01 p {
  font-weight: lighter;
  font-size: 16px;
  margin: 0.15rem 0;
  text-align: center;
}
.section .sec_01 .sec_a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .sec_01 .sec_a a {
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.section .sec_01 .sec_a a span {
  margin-left: 0.06rem;
  border: 0.06rem solid transparent;
  border-left: 0.1rem solid #00b8fc;
  transition: all 0.3s;
}
.section .sec_01 .sec_a a:nth-of-type(2) {
  margin: 0.2rem 0;
}
.section .sec_01 .sec_a a:hover {
  text-decoration: underline;
}
.section .sec_01 .sec_a a:hover span {
  transform: translateX(0.05rem);
}
.footer_nav {
  background: #fff;
}
.footer_nav .footer_nav_01 {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px dashed #1a1a1a;
  padding: 0.2rem 0;
}
.footer_nav .footer_nav_01 ul {
  display: flex;
  flex-wrap: wrap;
}
.footer_nav .footer_nav_01 ul li {
  margin: 0 0.1rem;
}
.footer_nav .footer_nav_01 ul li a {
  color: #555957;
  font-size: 0.12rem;
  line-height: 0.5rem;
  border-bottom: 1px solid transparent;
}
.footer_nav .footer_nav_01 ul li:hover a {
  border-bottom: 1px solid #2f3132;
}
.footer_email {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.footer_email .footer_email_text {
  text-align: center;
}
.footer_email .footer_email_text input {
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 0.05rem;
}
.footer_email .footer_email_text input:first-of-type {
  background-color: #f4f4f4;
  text-indent: 1em;
  font-size: 0.16rem;
  margin-top: 0.25rem;
}
.footer_email .footer_email_text input:nth-of-type(2) {
  background-color: #262626;
  color: #fff;
  font-weight: bold;
  margin-top: 0.15rem;
}
.footer_email .footer_email_text input:nth-of-type(2):hover {
  cursor: pointer;
}
.footer_email .footer_e_s {
  width: 280px;
  display: flex;
  margin-top: 0.2rem;
}
.footer_email .footer_e_s input {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-right: 0.1rem;
}
.footer_email .footer_e_s p {
  flex: 1;
  color: #697172;
  font-weight: bold;
  font-size: 0.14rem;
  line-height: 0.3rem;
}
.footer_email .bottom {
  color: #505b53;
  font-size: 0.12rem;
  margin: 0.4rem 0;
}
