.header_banner_bg {
  background-color: #1c1c1c;
}
.box {
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .h_left {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 0.55rem;
}
.header .h_left .h_left_menu {
  width: 0.55rem;
  height: 0.55rem;
  background: url(../../../imgs/菜单.png) no-repeat center;
  background-size: contain;
  position: relative;
}
.header .h_left .h_left_menu .h_menu {
  display: none;
  position: absolute;
  left: -0.23rem;
  top: -0.13rem;
  z-index: 999;
}
.header .h_left .h_left_menu .h_menu ul li {
  width: 2.4rem;
  height: 0.6rem;
  background-color: #00b8fc;
  border-bottom: 1px dashed #e5f8ff;
  text-indent: 1em;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .h_left .h_left_menu .h_menu ul li a {
  color: #000;
  line-height: 0.6rem;
  font-weight: bold;
  font-size: 0.14rem;
}
.header .h_left .h_left_menu .h_menu ul li .menu_sj {
  height: 0.14rem;
  border: 0.08rem solid transparent;
  border-left: 0.1rem solid #000;
}
.header .h_left .h_left_menu .h_menu ul li:last-of-type {
  border-bottom: none;
  background-color: #697172;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.15rem;
}
.header .h_left .h_left_menu .h_menu ul li:last-of-type img {
  height: 0.25rem;
}
.header .h_left .h_left_menu .h_menu ul li:last-of-type a {
  color: #fff;
}
.header .h_left .h_left_menu .h_menu ul li:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.header .h_left .h_left_menu:hover {
  cursor: pointer;
}
.header .h_left .h_left_menu:hover .h_menu {
  display: block;
}
.header .h_middle_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.header .h_middle_icon .h_m_icon_top {
  width: 0.8rem;
  height: 0.8rem;
  background: url(../../../imgs/未标题-1.png) no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center;
}
.header .h_middle_icon .h_m_icon_top h1 {
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.6rem;
}
.header .h_middle_icon .h_m_icon_top h1 a {
  color: transparent;
}
.header .h_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1.2rem;
  height: 0.35rem;
}
.header .h_right .h_r_car {
  width: 0.35rem;
  height: 0.35rem;
  background: url(../../../imgs/购物车.png) no-repeat center;
  background-size: contain;
}
.header .h_right .h_r_search {
  width: 0.28rem;
  height: 0.28rem;
  background: url(../../../imgs/搜索小.png) no-repeat center;
  background-size: contain;
}
.banner {
  background-color: #1c1c1c;
  height: 8rem;
  display: flex;
  justify-content: center;
}
.banner .banner_text {
  width: 80%;
}
.banner .banner_text .banner_top_nav {
  margin: 0.4rem 0;
}
.banner .banner_text .banner_top_nav a {
  color: #fff;
  font-weight: bold;
}
.banner .banner_text .banner_top_nav a:hover {
  text-decoration: underline;
}
.banner .banner_text .banner_top_nav p {
  width: 100%;
  font-size: 12px;
  color: #fff;
}
.banner .banner_text .banner_top_name .b_gxl {
  color: #000;
  width: 65px;
  height: 22px;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
}
.banner .banner_text .banner_top_name .b_gxl span {
  font-size: 14px;
  font-weight: bold;
}
.banner .banner_text .banner_top_name h4 {
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  margin: 0.15rem 0;
}
.banner .banner_text .banner_top_name p {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
}
.banner_content {
  padding: 0.5rem 0;
  height: 100%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_content .banner_content_top {
  width: 80%;
}
.banner_content .banner_content_top p {
  color: #dbd8db;
  font-size: 14px;
}
.banner_content .banner_content_btn {
  width: 80%;
}
.banner_content .banner_content_btn div {
  width: 100%;
  height: 50px;
  background-color: #333333;
  color: #fff;
  font-size: 18px;
  border-radius: 0.05rem;
  text-align: center;
  line-height: 50px;
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
}
.sec {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.sec .sec_box {
  width: 5.8rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
.sec .sec_box .sec_lbt_01 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_img {
  height: 100%;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_img ul {
  height: 100%;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_img ul li {
  height: 100%;
  display: flex;
  align-items: center;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_img ul li img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_img ul li:first-of-type img {
  display: block;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text {
  position: relative;
  top: -30px;
  display: flex;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .sec_l01_left {
  width: 22px;
  height: 60px;
  background-color: #f4f4f4;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right p:nth-of-type(2) {
  color: #939688;
  margin-top: 0.1rem;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn {
  height: 100%;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn ul {
  display: flex;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn ul li {
  width: 0.28rem;
  height: 0.28rem;
  background-color: pink;
  border-radius: 50%;
  border: 0.02rem solid #000;
  transition: all 0.25s;
  margin: 0.1rem 0.08rem 0 0;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn ul #lbt_02 {
  background-color: #fff;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn ul li:hover {
  cursor: pointer;
  transform: scale(1.2);
  border: 0.04rem solid #fff;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn ul li:nth-of-type(1) {
  background-color: #000;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn ul li:nth-of-type(2) {
  background-color: #0072ce;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn ul li:nth-of-type(3) {
  background-color: #fff;
}
.sec .sec_box .sec_lbt_01 .sec_lbt01_text .secl01_right .sec_lbt01_btn ul li:nth-of-type(4) {
  background-color: #afbded;
}
.section_content_01 {
  display: flex;
  justify-content: center;
  background-color: #050c10;
}
.section_content_01 .sec_content {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: #fff;
}
.section_content_01 .sec_content h4 {
  font-size: 28px;
}
.section_content_01 .sec_content .hx {
  width: 80px;
  height: 6px;
  background-color: #c3c6c8;
  margin: 0.2rem 0;
}
.section_content_01 .sec_content p {
  text-align: center;
  font-size: 15px;
  color: #e5e5e6;
  margin-bottom: 1rem;
}
.section_content_01 .sec_content .scontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px dashed #989898;
}
.section_content_01 .sec_content .scontent p {
  font-size: 22px;
  margin-bottom: 0.1rem;
  color: #fff;
}
.section_content_01 .sec_content .scontent P:last-of-type {
  font-size: 14px;
}
.section_content_01 .sec_content .scontent:last-of-type {
  border-bottom: none;
}
.section_content_02 {
  width: 100%;
  height: auto;
}
.section_content_02 img {
  width: 100%;
  height: 100%;
}
.section_content_03 {
  background-color: #2f3132;
  display: flex;
  justify-content: center;
}
.section_content_03 .sec_03 {
  width: 80%;
  height: 100%;
  background-color: #2f3132;
}
.section_content_03 .sec_03 h4 {
  margin-top: 0.6rem;
  font-size: 26px;
  font-weight: normal;
  color: #fff;
}
.section_content_03 .sec_03 .hx {
  width: 80px;
  height: 6px;
  background-color: #697172;
  margin: 0.2rem 0 0.5rem 0;
}
.section_content_03 .sec_03 p {
  color: #babdbe;
  margin-bottom: 1rem;
}
.section_04 .sec_04_img img {
  width: 100%;
}
.section_04 .sec_04_text {
  margin: 0.5rem auto 0.55rem;
  width: 80%;
}
.section_04 .sec_04_text h4 {
  color: #939695;
  font-weight: normal;
  border-bottom: 1px dotted #1a1a1a;
  padding-bottom: 0.1rem;
  font-size: 16px;
}
.section_04 .sec_04_text h1 {
  color: #000;
  margin-top: 0.35rem;
}
.section_04 .sec_04_text p {
  color: #747676;
  line-height: 0.4rem;
}
.section_04 .sec_04_text .hover_a {
  font-size: 20px;
  margin: 0.2rem 0;
}
.section_04 .sec_04_text .hover_a a:hover {
  text-decoration: underline;
}
.section_04 .sec_04_text .hover_a a:hover .a_sj {
  transform: translateX(0.05rem);
}
.section_04 .sec_04_text .hover_a a {
  color: #00b8fc;
}
.section_04 .sec_04_text .hover_a a .a_sj {
  margin-left: 0.05rem;
  display: inline-block;
  border: 10px solid transparent;
  border-left: 15px solid #00b8fc;
  transition: all 0.3s;
}
.footer_nav {
  background: #fff;
}
.footer_nav .footer_nav_01 {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px dashed #1a1a1a;
  padding: 0.2rem 0;
}
.footer_nav .footer_nav_01 ul {
  display: flex;
  flex-wrap: wrap;
}
.footer_nav .footer_nav_01 ul li {
  margin: 0 0.1rem;
}
.footer_nav .footer_nav_01 ul li a {
  color: #555957;
  font-size: 0.12rem;
  line-height: 0.5rem;
  border-bottom: 1px solid transparent;
}
.footer_nav .footer_nav_01 ul li:hover a {
  border-bottom: 1px solid #2f3132;
}
.footer_email {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.footer_email .footer_email_text {
  text-align: center;
}
.footer_email .footer_email_text input {
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 0.05rem;
}
.footer_email .footer_email_text input:first-of-type {
  background-color: #f4f4f4;
  text-indent: 1em;
  font-size: 0.16rem;
  margin-top: 0.25rem;
}
.footer_email .footer_email_text input:nth-of-type(2) {
  background-color: #262626;
  color: #fff;
  font-weight: bold;
  margin-top: 0.15rem;
}
.footer_email .footer_email_text input:nth-of-type(2):hover {
  cursor: pointer;
}
.footer_email .footer_e_s {
  width: 280px;
  display: flex;
  margin-top: 0.2rem;
}
.footer_email .footer_e_s input {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-right: 0.1rem;
}
.footer_email .footer_e_s p {
  flex: 1;
  color: #697172;
  font-weight: bold;
  font-size: 0.14rem;
  line-height: 0.3rem;
}
.footer_email .bottom {
  color: #505b53;
  font-size: 0.12rem;
  margin: 0.4rem 0;
}
